[submodule "ETL-E-Verified-Employer"]
	path = ETL-E-Verified-Employer
	url = https://github.com/gopida/ETL-E-Verified-Employer
[submodule "airflow/dags/ETL-E-Verified-Employer"]
	path = airflow/dags/ETL-E-Verified-Employer
	url = https://github.com/gopida/ETL-E-Verified-Employer
